data/
!urbansound_segment_task/edge_v2/data/
!urbansound_segment_task/edge_v2/data/*.py
sample_data/
kaggle.json

__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.DS_Store

.venv-yamnet/
artifacts/yamnet/tfhub-v1/model/
cache/yamnet_embeddings/

*.npy
*.npz
*.pt
*.csv.zip
*.tar.gz
*.log
*.pt
